* {
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
}


img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: #000000;
}

/*  fonts */

@font-face {
    font-family: 'Montserrat';
    font-weight: bold;
    font-style: normal;
    src: url(../fonts/montserrat-v12-latin-600.woff) format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-weight: light;
    font-style: normal;
    src: url(../fonts/roboto-v18-latin-300.woff) format('woff');
}

.uppercase {
    text-transform: uppercase;
}

.wrapper {
    max-width: 320px;
    height: 100%;
    margin: 0 auto;
}

.base {
    padding-top: 20px;
    width: 100%;
    height: 540px;
    background: url(../img/Vector\ Smart\ Object.png) no-repeat;
    background-size: cover;
    color: #ffffff;
}

.header {
    display: flex;
}

.header a {
    padding: 10px;
    color: #ffffff;
    font-family: 'Montserrat', serif;
    font-weight: bold;
    font-size: 14px;
}

.log-in {
    margin: 0 8px 0 73px;
}

.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 90px;
    border: 2px solid #ffffff;
    border-radius: 20px;
}

h1, h2, p {
    text-align: center; 
}

.main-title {
    margin: 120px 0 30px;
    font-family: 'Montserrat', serif;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.05em;
    line-height: 0.8;
}

.title {
    margin-bottom: 15px;
    font-family: 'Montserrat', serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 1.2;
}

.title-description {
    margin-bottom: 18px;
    font-family: 'Roboto', serif;
    font-weight: light;
    font-size: 18px;
}

.button,
.button-further {
    height: 40px;
    width: 280px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', serif;
    font-weight: bold;
    font-size: 14px;

}

.button {
    background: #ff4e50;
    border-radius: 20px;
    color: #ffffff;
}

.button-further {
    margin: 5px auto 60px;
    border-radius: 20px;
    color: #ff4e50;
    border: 2px solid #ff4e50;
}

.best-offer {
    padding-top: 60px;
}

.best-offer-title {
    padding: 5px 0 5px;
    font-weight: bold;
    font-family: 'Montserrat', serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 1.2;
    
}
.partner-card {
    width: 240px;
    /* height: 230px; */
    padding: 8px;
    margin: 0 auto;
}

.img-cover {
    width: 121px;
    height: 121px;
    position: relative;
    margin: 0 auto;
}

.icon {
    display: block;
    position: absolute;
    top: 70%;
    right: -4%; 
}

/*spites*/

.bg-bottle {
    width: 41px; height: 40px;
    background: url(../img/css_sprites.png) -71px -71px;
}

.bg-coffee {
    width: 41px; height: 41px;
    background: url(../img/css_sprites.png) -10px -10px;
}

.bg-screen {
    width: 41px; height: 41px;
    background: url(../img/css_sprites.png) -71px -10px;
}

.bg-telegram {
    width: 41px; height: 41px;
    background: url(../img/css_sprites.png) -10px -71px;
}

.name {
    padding-top: 20px;
    font-family: 'Montserrat', serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.1;
}
.about-me {
    padding: 13px 3px 15px;
    font-family: 'Roboto', serif;
    font-weight: light;
    font-size: 14px;
    line-height: 1.1;
}






