.welcome-section__btn {
    display: block;
    font-family: $main-font-stack;
    font-weight: bold;
    font-size: 14px;
    color: $welcome-section-font-color;
    width: 150px;
    border: 3px solid #fff;
    text-align: center;
    line-height: 40px;
    margin: 0 auto;
  }