* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.wrapper {
  padding-top: 20px;
  margin: 0 auto;
  width: 50%;
}

.fullview {
  margin-bottom: 10px;
}

.preview {
  display: flex;
  align-items: center;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.fullview img {
  max-width: 100%;
  height: auto;
  padding: 10px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.preview img {
  display: flex;
  max-width: 100%;
  height: auto;
  padding: 5px;
}

.active {
  outline: 3px solid rgba(91, 9, 116, 0.582);
}
