@font-face {
  font-family: "Montserrat";
  font-weight: normal;
  font-style: normal;
  src: url(../fonts/montserrat-v12-latin-regular.woff) format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: bold;
  font-style: normal;
  src: url(../fonts/montserrat-v12-latin-600.woff) format("woff");
}

@font-face {
  font-family: "Kaushan";
  font-weight: normal;
  font-style: normal;
  src: url(../fonts/KaushanScript-Regular.woff) format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: normal;
  font-style: normal;
  src: url(../fonts/roboto-slab-v7-latin-regular.woff) format("woff");
}

.uppercase {
  text-transform: uppercase;
}

.wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  width: 1200px;
}

.header-logo__link {
  font-family: "Montserrat", serif;
  font-weight: bold;
  color: #fff;
  font-size: 30px;
}

.header-nav__item {
  position: relative;
  margin-right: 55px;
  color: #fff;
  font-family: "Montserrat", serif;
  font-weight: normal;
  font-size: 14px;
}

.header-nav__svg-icon {
  fill: #fff;
}

.header-nav__svg-icon:hover {
  fill: #fce38a;
}

.header-nav__item--svg {
  margin-right: 30px;
}

.header-nav__item:last-child,
.header-nav__item--svg:last-child {
  margin-right: 0;
}

.header-nav__item::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 3px;
  background-color: #fce38a;
  width: 100%;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.header-nav__item:hover::after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.header-nav__item:hover {
  color: #fce38a;
}

.welcome-section {
  position: relative;
  height: 1000px;
  background-image: url(../img/bg.png);
  background-size: cover;
  background-position: center;
}

.welcome-section__wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: -webkit-gradient(
    linear,
    left bottom, left top,
    from(rgba(252, 227, 138, 0.9)),
    to(rgba(243, 129, 129, 0.9))
  );
  background-image: -webkit-linear-gradient(
    bottom,
    rgba(252, 227, 138, 0.9),
    rgba(243, 129, 129, 0.9)
  );
  background-image: -o-linear-gradient(
    bottom,
    rgba(252, 227, 138, 0.9),
    rgba(243, 129, 129, 0.9)
  );
  background-image: linear-gradient(
    to top,
    rgba(252, 227, 138, 0.9),
    rgba(243, 129, 129, 0.9)
  );
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .welcome-section {
    background-image: url(../img/bg@2x.png);
  }
}

.welcome-section__title {
  margin: 0 auto;
  width: 850px;
  text-align: center;
  color: #fff;
}

.welcome-sections__title--italic {
  font-family: "Kaushan", serif;
  font-size: 72px;
  font-weight: normal;
  margin-bottom: 50px;
}

.welcome-section__title--uppercase {
  font-family: "Montserrat", serif;
  font-weight: bold;
  font-size: 150px;
  line-height: 140px;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.welcome-section__btn {
  display: block;
  font-family: "Montserrat", serif;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  width: 150px;
  height: 35px;
  border: 3px solid #fff;
  text-align: center;
  line-height: 40px;
  margin: 0 auto;
}

.services__title--italic {
  text-align: center;
  font-family: "Kaushan Script", cursive;
  font-weight: normal;
  font-size: 24px;
  padding-top: 50px;
}
.services__title--uppercase {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: bold;
  padding-top: 20px;
  text-transform: uppercase;
  text-align: center;
}

.services__title::after,
.team__title:after {
  content: "";
  display: block;
  border-bottom: 3px solid #f38181;
  width: 60px;
  margin: 30px auto 40px;
}

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 30px 0;
}

.services-item {
  width: 360px;
  height: 170px;
}

.services-item__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services-item__icon {
  display: block;
  width: 35px;
  height: 35px;
  margin-right: 20px;
  fill: #95e1d3;
}

.services-item__icon--photography {
  background: url(../img/ALARM.svg) no-repeat center center;
}

.services-item__icon--wb {
  background: url(../img/LINE-GRAPH.svg) no-repeat center center;
}

.services-item__icon--creativity {
  background: url(../img/COMPUTER.svg) no-repeat center center;
}

.services-item__icon--seo {
  background: url(../img/BOOK.svg) no-repeat center center;
}

.services-item__icon--css {
  background: url(../img/HOME.svg) no-repeat center center;
}

.services-item__icon--digital {
  background: url(../img/IMAGE.svg) no-repeat center center;
}

.services-item__desc {
  width: 305px;
}

.services-item__title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 14px;
  padding-bottom: 10px;
}
.services-item__text {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
}

.team__title--italic {
  text-align: center;
  font-family: "Kaushan Script", cursive;
  font-weight: normal;
  font-size: 24px;
}
.team__title--uppercase {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: bold;
  padding-top: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
}

.team__desc {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #999;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 60px;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team-member {
  position: relative;
  margin: 0 30px 80px 0;
}

.team-member:last-child {
  margin-right: 0;
}

.team-member__cover {
  position: relative;
}

.team-member__foto {
  position: relative;
  width: 380px;
  height: 470px;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  -o-transition: transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.team-member__cover:before {
  content: "";
  background: #95e1d3;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.team-member__foto::after {
  content: "";
  background-image: -webkit-gradient(
    linear,
    left bottom, left top,
    from(rgba(252, 227, 138, 0.9)),
    to(rgba(243, 129, 129, 0.9))
  );
  background-image: -webkit-linear-gradient(
    bottom,
    rgba(252, 227, 138, 0.9),
    rgba(243, 129, 129, 0.9)
  );
  background-image: -o-linear-gradient(
    bottom,
    rgba(252, 227, 138, 0.9),
    rgba(243, 129, 129, 0.9)
  );
  background-image: linear-gradient(
    to top,
    rgba(252, 227, 138, 0.9),
    rgba(243, 129, 129, 0.9)
  );
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.team-member__cover:hover .team-member__foto::after,
.team-member__cover:hover .team-member__networks-btn {
  opacity: 1;
}

.team-member__foto:hover {
  -webkit-transform: translate(-10px, -10px);
      -ms-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
}

.team-member__networks-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 230px;
  height: 69px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.team-member__networks-btn a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  height: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team-member__networks-btn--icon {
  width: 60px;
  height: 60px;
  background: #fce38a;
  -webkit-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}

.svg-icon {
  fill: #f38181;
  -webkit-transition: fill 0.4s;
  -o-transition: fill 0.4s;
  transition: fill 0.4s;
}

.team-member__networks-btn--icon:hover .svg-icon {
  fill: #fff;
}

.team-member__networks-btn--icon:hover {
  background-color: #f38181;
}

.team-member__name {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 15px;
  padding: 30px 0 5px;
}

.team-member__position {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
}

.footer {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #cccccc;
}

.footer__form--email {
  height: 39px;
  width: 230px;
  border: 1px solid #e7e7e7;
  font-family: "Roboto", cursive;
  font-style: italic;
  font-weight: light;
  color: #cccccc;
  opacity: 0.5;
  margin-right: -5px;
  padding: 5px;
  position: relative;
}

.footer__form--btn {
  height: 40px;
  width: 150px;
  border: 0;
  background: #95e1d3;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding: 0;
}

.footer__copyright {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.footer__site {
  color: #f38181;
}