@font-face {
    font-family: "Montserrat";
    font-weight: normal;
    font-style: normal;
    src: url(../fonts/montserrat-v12-latin-regular.woff) format("woff");
  }
  
  @font-face {
    font-family: "Montserrat";
    font-weight: bold;
    font-style: normal;
    src: url(../fonts/montserrat-v12-latin-600.woff) format("woff");
  }
  
  @font-face {
    font-family: "Kaushan";
    font-weight: normal;
    font-style: normal;
    src: url(../fonts/KaushanScript-Regular.woff) format("woff");
  }
  
  @font-face {
    font-family: "Roboto";
    font-weight: normal;
    font-style: normal;
    src: url(../fonts/roboto-slab-v7-latin-regular.woff) format("woff");
  }