.services-item {
  width: 360px;
  height: 170px;

  &__link {
    display: flex;
  }

  &__icon {
    display: block;
    width: 35px;
    height: 35px;
    margin-right: 20px;
    fill: #95e1d3;
  }
}

.services-item__icon--photography {
  background: url(../../../images/ALARM.svg) no-repeat center center;
}

.services-item__icon--wb {
  background: url(../../../images/LINE-GRAPH.svg) no-repeat center center;
}

.services-item__icon--creativity {
  background: url(../../../images/COMPUTER.svg) no-repeat center center;
}

.services-item__icon--seo {
  background: url(../../../images/BOOK.svg) no-repeat center center;
}

.services-item__icon--css {
  background: url(../../../images/HOME.svg) no-repeat center center;
}

.services-item__icon--digital {
  background: url(../../../images/IMAGE.svg) no-repeat center center;
}

.services-item__desc {
  width: 305px;
}

.services-item__title {
  font-family: $main-font-stack;
  font-weight: bold;
  font-size: 14px;
  padding-bottom: 10px;
}

.services-item__text {
  font-family: $description-font;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
}
