* {
    box-sizing: border-box;
  }
  
body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
    color: #626262;
  }
  
.wrapper {    
    margin: 0 auto;
    width: 901px;
    min-height: 100%;
 }

.main-menu {
    margin: 0 auto;
    padding-top: 77px;
    width: 901px;
    list-style: none;
    margin-bottom: 104px;
    padding-inline-start: 0px; /*обнуление браузерного стиля*/
 }

.preview {
    display: inline-block;
    width: 420px;
    margin-bottom: 140px;
}
.preview:nth-child(odd) {
    margin-right: 53px;
}

.main-menu > li {
    display: inline-block;
    width: calc(100%/4 - 4px*4);
    text-align: center;
}

.main-menu a {
    display: inline-block;
    text-decoration: none;
    color: #626262;
    text-transform: uppercase;
    padding:10px;


  }
a:hover {
    color: #03a9f4;
}
.sign {
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
}
h2 {
    font-size: 30px;
}
.description {
    font-size: 14px;
    line-height: 24px;
}

button {
    display: block;
    padding: 24px 35px 24px 35px;
    color: #626262; 
    font-size: 20px;
    margin: 0 auto;
    background: white;
    border: 2px solid #626262;
}