$main-font-stack: "Montserrat", sans-serif;
$first-title-font: "Kaushan", sans-serif;
$description-font: "Roboto", sans-serif;
$welcome-section-font-color:  #fff;
$welcome-section-accent-color: #fce38a;
$servises-section-accent-color: #f38181;
